body {
    max-width: 500px;
    margin: 0 auto;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Roboto, Helvetica, sans-serif;
    color: #333;
    line-height: 1.42857143;
}

a {
    color: #0ad;
    text-decoration: none;
}

h1 {
    text-align: center;
    border-bottom: 1px solid #0000c1;
    padding-right: 4px;
    text-shadow: #555 0px 1px 0px;
    font-size: 2rem;
    margin-top: 0;
}

h1 span {
    vertical-align: bottom;
    float: right;
    line-height: 50px;
    color: #0ad;
}

#logo {
    float: left;
    height: 50px;
    width: 50px;
}

h1::after {
    clear: both;
    content: "";
    display: block;
}

#page-title {
    font-size: 1.6rem;
    text-shadow: #555 0px 1px 0px;
    text-align: center;
    line-height: 1;
}

footer {
    color: #888;
    font-style: italic;
    text-align: center;
}

.lead {
    font-size: 1.25rem;
}

table {
    border: 1px solid #333;
    border-spacing: 0;
    border-collapse: collapse;
}

th {
    background: #333;
    color: #fff;
}

th, td {
    border: 1px solid #888;
    padding: 5px;
    border-collapse: collapse;
}

@media (prefers-color-scheme: dark) {
    body { background: #1c1f21; color: #fff; }
    th { background: #000; }
    th, td { border: 1px solid #555; }
}
