## -*- coding: utf-8 -*-
<%namespace name="helper" file="index_helper.tmpl"/>
<%namespace name="disqus" file="disqus_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="content">

<p class="lead">Hello! This is the GitHub page of Kwpolska.</p>

<p>
    Go to: <div class="btn-group" style="text-align: center;">
    <a class="btn btn-large btn-info" href="projects/"> <i class="icon-github
            icon-large"></i> Projects</a>
    <a class="btn btn-large btn-warning" href="files/"> <i class="icon-folder-open-alt
            icon-large"></i> Files</a>
    <a class="btn btn-large" href="contact/"> <i class="icon-envelope
            icon-large"></i> Contact (failsafe)</a>
    </div>
</p>
</%block>
