## -*- coding: utf-8 -*-
<%namespace name="helper" file="index_helper.tmpl"/>
<%namespace name="disqus" file="disqus_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="content">

<p class="lead">Hello! This is the GitHub page of Kwpolska.</p>

<p>
    Go to: <div class="btn-group" style="text-align: center;">
    <a class="btn btn-lg btn-info" href="projects/"> <i class="fa-github
            icon-2x"></i> Projects</a>
    <a class="btn btn-lg btn-warning" href="pub/"> <i class="fa-folder-open-alt
            icon-2x"></i> Files</a>
    <a class="btn btn-lg btn-primary" href="contact/"> <i
    class="fa-envelope
            icon-2x"></i> Contact (failsafe)</a>
    </div>
</p>
</%block>
