## -*- coding: utf-8 -*-
<%inherit file="story.tmpl"/>
<%namespace name="project" file="project_helper.tmpl"/>
<%block name="content">
    <header class="page-header">
    <h1>${title}</h1>
    </header>
    <button class="pull-right btn btn-lg project-info"
    data-project="${post.meta('slug')}"><i class="icon-cog
    icon-large"></i> Downloads &amp; Information</button>
    <p class="lead">${post.meta('description')}</p>
    ${post.text(lang)}
    </div>
    </div>
</%block>
